{% extends 'base.html.twig' %}

{% block title 'Tech Shop - Nos produits' %}

{% block body %}
        <div class="jumbotron text-center">
            <h1 class="text-center">{{ 'welcome_message' | trans }}</h1>
            <p>{{ 'brief_presentation_text' | trans }}</p>
            <small>{{ 'commercial_presentation' | trans }}</small>
        </div>
        <div class="container">
            <h2 class="mb-3 text-center">{{ 'our_products_text' | trans }}</h2>
            {%  if products is not empty %}
                <div class="row flex">
                    {% for product in products %}
                        {% set url = path("app_products_show", {id: product.id}) %}
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <a href="{{ url }}">
                                        <img src="{{ asset('uploads/productPhoto/' ~ product.photo) }}" alt="Photo du
                                        produit {{
                                        product.name}}" style="height: 200px; width: 100%; display: block;" />
                                    </a>
                                    <div class="card-title">
                                        <h5>
                                            <a href="{{ path('app_products_show', {id: product.id}) }}">{{ product.name }}</a>
                                        </h5>
                                    </div>
                                    <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ product.getFormattedPrice() }} €</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class="text-center mt-5 mb-5">{{ 'message_boutique_vide' | trans }}</p>
            {% endif %}
        </div>
{% endblock %}
